### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>


RewriteEngine on
RewriteRule ^najnowsze$ wszystkie.php?kategoria=najnowsze
RewriteRule ^o-mnie$ omnie.php?
RewriteRule ^kontakt$ kontakt.php?
RewriteRule ^polska$ wszystkie.php?kategoria=polska
RewriteRule ^europa$ wszystkie.php?kategoria=europa
RewriteRule ^inne$ wszystkie.php?kategoria=inne
RewriteRule ^artykuly-podroze$ artykulyTagi.php?tagname=podroze
RewriteRule ^artykuly-polska$ artykulyTagi.php?tagname=polska
RewriteRule ^artykuly-europa$ artykulyTagi.php?tagname=europa
RewriteRule ^artykuly-gory$ artykulyTagi.php?tagname=gory
RewriteRule ^artykuly-morze$ artykulyTagi.php?tagname=morze
RewriteRule ^artykuly-sport$ artykulyTagi.php?tagname=sport
RewriteRule ^artykuly-lifestyle$ artykulyTagi.php?tagname=lifestyle
RewriteRule ^artykuly-miasta$ artykulyTagi.php?tagname=miasta
RewriteRule ^artykuly-ludzie$ artykulyTagi.php?tagname=ludzie
RewriteRule ^artykuly-kultura$ artykulyTagi.php?tagname=kultura
RewriteRule ^artykuly-aktywnie$ artykulyTagi.php?tagname=aktywnie
RewriteRule ^artykuly-rozrywka$ artykulyTagi.php?tagname=rozrywka
RewriteRule ^09042016-typowa-silownia$ post.php?id=17
RewriteRule ^09042016-sen-o-raju$ post.php?id=18
RewriteRule ^09042016-6-powodow-dla-ktorych-nie-warto-uczyc-sie-w-szkole$ post.php?id=19
RewriteRule ^09042016-marzenia$ post.php?id=20
RewriteRule ^09042016-regula-autorytetu-i-mass-media$ post.php?id=21
RewriteRule ^09042016-swiat-dookola-nas$ post.php?id=22
RewriteRule ^09042016-kazdy-ma-teczke-jak-bolek$ post.php?id=23
RewriteRule ^09042016-korpopiatek$ post.php?id=24
RewriteRule ^09042016-ide-tam-gdzie-ide$ post.php?id=25
RewriteRule ^09042016-urwane-kontakty$ post.php?id=26
RewriteRule ^09042016-wizja-siebie$ post.php?id=27
RewriteRule ^09042016-internet-tworzy-nasza-osobowosc$ post.php?id=28
RewriteRule ^09042016-dlaczego-chcemy-byc-fit-i-eko$ post.php?id=29
RewriteRule ^16042016-jaka-jest-najwazniejsza-umiejetnosc-swiata$ post.php?id=31
RewriteRule ^18042016-dlaczego-zalozylem-tego-bloga$ post.php?id=32
RewriteRule ^25042016-jak-zwiedzic-berlin-w-jeden-dzien$ post.php?id=33
RewriteRule ^03052016-obawa-przed-porazka$ post.php?id=34
RewriteRule ^09052016-jak-korzystac-z-google-maps-offline$ post.php?id=35
RewriteRule ^18052016-zrob-sobie-dziecko$ post.php?id=36
RewriteRule ^31052016-polacy-nic-sie-nie-stalo$ post.php?id=37
RewriteRule ^07062016-zrob-sobie-dobrze$ post.php?id=38
RewriteRule ^14062016-czy-warto-jechac-do-energylandia$ post.php?id=39
RewriteRule ^27062016-what-do-you-want-to-do-before-you-die$ post.php?id=40
RewriteRule ^18072016-caly-nasz-swiat-kreci-sie-wokol-zabawek$ post.php?id=41
RewriteRule ^29082016-ekstremalna-podroz-po-niebie$ post.php?id=42
RewriteRule ^15092016-i-have-a-dream$ post.php?id=43
RewriteRule ^13102016-dream_jump_glogow$ post.php?id=44
RewriteRule ^28112016-harmonia$ post.php?id=45
RewriteRule ^14122016-tajemnice-anglii$ post.php?id=46
RewriteRule ^19122016-cala-prawda-o-kolczingu$ post.php?id=47
RewriteRule ^10012017-cieszyc-sie-zyciem-cele-na-2017$ post.php?id=48
RewriteRule ^12022017-narkoman-zycia-jak-szczesliwie-zyc$ post.php?id=49
RewriteRule ^15032017-jak-wygrac-z-choroba$ post.php?id=50
RewriteRule ^21032017-wycieczka-w-jeden-dzien-praga$ post.php?id=51
RewriteRule ^29032017-jak-przetrwalem-noc-na-lotnisku$ post.php?id=52
RewriteRule ^12042017-odkrywam-tajemnice-Valletty$ post.php?id=53
RewriteRule ^23042017-imprezowe-serce-malty$ post.php?id=54
RewriteRule ^10052017-spacer-po-pustyni$ post.php?id=55
RewriteRule ^10072017-rowerem-dookola-zalewu-szczecinskiego$ post.php?id=56
RewriteRule ^17072017-wycieczka-do-paryza-co-warto-zobaczyc$ post.php?id=57
RewriteRule ^25072017-sklepy-spozywcze-w-centrum-paryza$ post.php?id=58
RewriteRule ^23082017-jak-poznalem-bratyslawe$ post.php?id=59
RewriteRule ^07092017-drzemka-energetyczna-power-nap$ post.php?id=60
RewriteRule ^13092017-budapeszt-punkty-widokowe-atrakcje-turystyczne$ post.php?id=61
RewriteRule ^20092017-budapeszt-w-jeden-dzien$ post.php?id=62
RewriteRule ^08102017-jak-przetrwac-pierwszy-rok-studiow$ post.php?id=63
RewriteRule ^czestochowa-w-jeden-dzien-24102017$ post.php?id=64
RewriteRule ^czestochowa-co-warto-zobaczyc-19112017$ post.php?id=65
RewriteRule ^szlaki-karkonoszy-zrodlo-laby-01052018$ post.php?id=66
RewriteRule ^madryt-w-jeden-dzien-co-warto-zobaczyc-w-madrycie-02062018$ post.php?id=67
RewriteRule ^co-warto-zobaczyc-w-dolnoslaskim-kolorowe-jeziorka-21062018$ post.php?id=68
RewriteRule ^co-warto-zobaczyc-w-dolnoslaskim-zamek-chojnik-atrakcje-turystyczne-30062018$ post.php?id=69
RewriteRule ^mediolan-w-jeden-dzien-atrakcje-turystyczne-mediolanu-31072018$ post.php?id=70
RewriteRule ^bergamo-w-jeden-dzien-co-warto-zobaczyc-w-bergamo-07082018$ post.php?id=71
RewriteRule ^stargard-co-warto-zobaczyc-atrakcje-turystyczne-15092018$ post.php?id=72
RewriteRule ^jak-nagrywac-filmy-na-youtube-02122018$ post.php?id=73
RewriteRule ^rudawy-janowickie-atrakcje-turystyczne-15122018$ post.php?id=74
RewriteRule ^sanok-w-jeden-dzien-co-warto-zobaczyc-w-sanoku-09042019$ post.php?id=75
RewriteRule ^malaga-co-warto-zobaczyc-w-jeden-dzien-05052019$ post.php?id=76
RewriteRule ^co-zobaczyc-w-okolicach-malagi-05052019$ post.php?id=77
RewriteRule ^rzeszow-w-jeden-dzien-co-warto-zobaczyc-w-rzeszowie-15052019$ post.php?id=78
RewriteRule ^kraina-wygaslych-wylkanow-atrakcje-turystyczne-02062019$ post.php?id=79
RewriteRule ^jeziora-plitwickie-mapa-cennik-dojazd-zwiedzanie-07072019$ post.php?id=80
RewriteRule ^kotor-w-jeden-dzien-co-zobaczyc-14072019$ post.php?id=81
RewriteRule ^bieszczady-atrakcje-turystyczne-szlaki-co-zobaczyc-24072019$ post.php?id=82
RewriteRule ^wlora-okolice-atrakcje-co-zobaczyc-plaze-kaniony-21082019$ post.php?id=83
RewriteRule ^ksamil-najlepsze-plaze-atrakcje-30082019$ post.php?id=84
